@model IEnumerable<SanPham>
<!--
<table class="table">
    <thead>
        <tr>
            <th>Tên Sản Phẩm</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th>Hình ảnh</th>
            <th>Thể Loại</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
{
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.price</td>
                    <td><img src="@item.ImageUrl" width="50%" /></td>
                    <td>@item.TheLoai.Name</td>
                </tr>
}
    </tbody>
</table>
-->
<header class="text-left mb-4">
    <img src="/img/phone.png" alt="Logo" class="img-fluid" style="max-width: 50px;">
    <h3>Giới thiệu Sản Phẩm </h3>
   

</header>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.ImageUrl" alt="Product Image" class="product-image" width="50%">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-title">@item.price</h6>
                    <p class="card-text">@item.Description.</p>
                    <div class="row">
                        <div class="col-6">
                            <a href="#" class="btn btn-primary">Thêm &#10084</a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn btn-danger">Mua Hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<footer class="bg-light text-center mt-5 py-4">
    <div class="container">
        <h2>Liên Hệ Chúng Tôi</h2>
        <p>Email: contact@letan.com</p>
        <p>Điện Thoại: 0123456789</p>
        
        <div class="row">
            <div class="col-md-4">
                <h4>Giới Thiệu</h4>
                <p>Thông tin giới thiệu về công ty và sản phẩm.</p>
            </div>
            <div class="col-md-4">
                <h4>Dịch Vụ Khách Hàng</h4>
                <p>Thông tin về dịch vụ khách hàng.</p>
            </div>
            <div class="col-md-4">
                <h4>Chính Sách Bảo Mật</h4>
                <p>Thông tin về chính sách bảo mật của chúng tôi.</p>
            </div>
        </div>
        <p>&copy; 2024 Công ty của bạn. Bản quyền thuộc về bạn.</p>
    </div>
</footer>
